html, body {
  width: 190px;
  font-family: 'Consolas', monospace;
  cursor: default;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.2em;
}

.checkbox {
  cursor: default;
}

.direct {
  background-color: #FBFBC9;
}

.direct:hover {
  background-color: #EAEA9D;
}

.proxy {
  background-color: #E5F2F2;
}

.proxy:hover {
  background-color: #CFF2F2;
}

.option {
  background-color: #E5F2F2;
}

.option:hover {
  background-color: #CFF2F2;
}
